@import "@fontsource/architects-daughter";

html, body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

body {
  background-image: url("./images/register_bg.a37cfc8a.png");
  background-color: #172b4d;
  background-size: cover;
  background-position:center;
  background-attachment: fixed;
}

.auth-container {
  width: fit-content;
  margin: auto;
  display: flex;
  background: #5e72e4;
  border-radius: 2%;
}

.single {
  background: whitesmoke;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-box {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.alternative-auth-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

h2 {
  margin-bottom: 50px;
  text-transform: uppercase;
  font-family: "Architects Daughter";
}

a, p {
  margin-bottom: 20px;
  text-decoration: none;
}

.MuiTextField-root {
  margin-bottom: 15px !important;
  width: 100%;
}

.profile-image, .static-profile-image {
  width: 30%;
  height: 30%;
  display: block;
  border-radius: 50%;
  border: groove;
  position: relative;
  box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
  margin-bottom: 6%;
  margin-top: 2%;
}

.profile-image:hover {
  opacity: 0.6;
}

.MuiDialogContent-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dialog-text {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room {
  padding: 5%;
}

video {
  width: 100%;
}

.participant {
  margin-right: 5%;
}

.big-chart {
  height: 40%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-chart {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .MuiListSubheader-root, .MuiListItemText-root, .MuiListItemText-secondary {
  color: whitesmoke !important;
} */

h4 {
  color: whitesmoke;
  font-family: "Architects Daughter";
  font-weight: 400 !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(196, 211, 237); 
}
 
::-webkit-scrollbar-thumb {
  background: rgb(157, 182, 225); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(118, 153, 213); 
}

.MuiTableCell-head {
  background-color: rgb(116, 152, 216)  !important;
}

.MuiTableRow-root {
  background-color: rgb(176, 197, 232)  !important;
}

.staff-profile .MuiTableRow-root:hover {
  background-color: rgba(176, 197, 232, 0.6)  !important;
  cursor: pointer;
}

.MuiTablePagination-toolbar {
  background-color: rgb(196, 211, 237)  !important;
}

.MuiDrawer-paper {
  width: 20%;
  align-items: flex-start;
  padding: 1%;
  justify-content: space-between;
}

.chat .MuiList-root {
  padding: 0 !important;
}

.chat li:first-child {
  padding-top: 0;
}

.chat li:last-child {
  padding-bottom: 0;
}