@import "@fontsource/architects-daughter";

html, body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

body {
  background-image: url("./images/register_bg.a37cfc8a.png");
  background-color: #172b4d;
  background-size: cover;
  background-position:center;
  background-attachment: fixed;
}

.auth-container {
  width: fit-content;
  margin: auto;
  display: flex;
  background: #5e72e4;
  border-radius: 2%;
  text-align: center;
}

.single {
  background: whitesmoke;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 48px 32px 48px;
}

@media only screen and (max-width: 420px) {
  .single {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.auth-box {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.signup-box{
  border-radius: 0 2% 2% 0;
}

.login-box {
  border-radius: 2% 0 0 2%;
}

.alternative-auth-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

h2 {
  margin-bottom: 50px;
  text-transform: uppercase;
  font-family: "Architects Daughter";
}

a, p {
  margin-bottom: 20px;
  text-decoration: none;
}

.MuiTextField-root {
  margin-bottom: 15px !important;
  width: 100%;
}

.profile-image, .static-profile-image {
  width: 30%;
  height: 30%;
  display: block;
  border-radius: 50%;
  border: groove;
  position: relative;
  box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
  margin-bottom: 6%;
  margin-top: 2%;
}

.profile-image:hover {
  opacity: 0.6;
}

.MuiDialogContent-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dialog-text {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room {
  padding: 5%;
}

video {
  width: 100%;
}

.participant {
  margin-right: 5%;
}

.big-chart {
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-chart {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h4 {
  color: whitesmoke;
  font-family: "Architects Daughter";
  font-weight: 400 !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(196, 211, 237); 
}
 
::-webkit-scrollbar-thumb {
  background: rgb(157, 182, 225); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(118, 153, 213); 
}

.MuiTableCell-head {
  background-color: rgb(116, 152, 216)  !important;
}

.MuiTableRow-root {
  background-color: rgb(176, 197, 232)  !important;
}

.staff-profile .MuiTableRow-root:hover {
  background-color: rgba(176, 197, 232, 0.6)  !important;
  cursor: pointer;
}

.MuiTablePagination-toolbar {
  background-color: rgb(196, 211, 237)  !important;
}

.MuiDrawer-paper {
  width: 20%;
  align-items: flex-start;
  padding: 1%;
  justify-content: space-between;
}

.chat .MuiList-root {
  padding: 0 !important;
}

.chat li:first-child {
  padding-top: 0;
}

.chat li:last-child {
  padding-bottom: 0;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button {
  margin-left: 10px !important;
}

.small-charts-container {
  height: 43%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 800px) {
  .big-chart {
    height: 40%;
  }
}

@media only screen and (max-width: 800px) {
  .small-charts-container {
    flex-direction: column;
  }

  .small-chart {
    width: 100%;
  }

  .table-chart {
    height: 400px;
  }

  .last-chart {
    padding-bottom: 4%;
  }
}

@media only screen and (max-width: 850px) {
  .login, .signup {
    flex-direction: column;
  }

  .signup-box {
    border-radius: 0 0 2% 2%;
  }

  .login-box {
    border-radius: 2% 2% 0 0;
  }

  .login-box {
    width: 100%;
    height: 360px;
  }

  .alternative-login-box {
    width: 100%;
    height: 330px;
  }

  .alternative-signup-box {
    width: 100%;
  }

  .signup-box {
    width: 100%;
    height: 470px;
  }
}

@media only screen and (max-height: 690px) {
  .login {
    border-radius: 0 !important;
  }

  .login-box {
    border-radius: 0 !important;
  }

  .alternative-login-box {
    border-radius: 0 !important;
  }
}

@media only screen and (max-height: 740px) {
  .signup {
    border-radius: 0 !important;
  }

  .signup-box {
    border-radius: 0 !important;
  }

  .alternative-signup-box {
    border-radius: 0 !important;
  }
}

.room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media only screen and (max-width: 570px) {
  .video-call-content {
    flex-direction: column;
  }

  .MuiDrawer-paperAnchorBottom {
    width: 100%;
    height: 40% !important;
  }
}

.game-box {
  background-color: #3867d6;
  display: flex;
  flex-direction: column;
  padding-bottom: 2%;
  border-radius: 5%;
  width: 350px;
  height: 310px;
}

.game-row {
  display: flex;
  width: 350px;
  height: 50px;
  justify-content: space-between;
  padding: 2%;
}

.game-slot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 1%;
}

.choose-column:hover {
  color: red;
}